.center {
    text-align: center;
    margin-bottom: 3rem;
}

.tfield {
    width: 10rem;
    /* margin-right: 120px;
    padding-right: 120px; */
}

.tbtn {
    /* margin-left: 10rem; */
    height: 3.33rem;
}